.App {
  text-align: center;
  background-image: url(./Assets/QuizBackground.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  }

.App-header {
  background-color: #2ccc5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



